#brew-main-header {
    text-align: center; 
    color: white;
}

#brew-main-body {
    color: white;
    
}
.card.horizontal {
    background-color: rgba(121, 121, 121, 0.4);
    border-radius: 15px;
}

#selected-brewery-name {
    margin-top: 5rem;
}

#event-card {
    width: 500px;
}

#beer-all-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

#events-nearby {
    width: 100%;
}

#content-width {
    width: 100%;
}

#event-card span {
    font-size: 1.6rem;
}

