#brew-main-header {
    text-align: center; 
    color: white;
}

#brew-main-body {
    color: white;
    
}
.card.horizontal {
    background-color: rgba(121, 121, 121, 0.4);
    border-radius: 15px;
}

#selected-brewery-name {
    margin-top: 5rem;
}

#event-card {
    width: 500px;
    word-wrap: break-word;
}

#beer-all-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}



#events-nearby {
    width: 100%;
}

#content-width {
    width: 100%;
}

#event-card span {
    font-size: 1.6rem;
}

.card-stacked {
    width: 100%;
}

.card-content  p {
    word-wrap: break-word;
}

#beer-footer {
    position: relative;
    bottom: 0;
}

@media screen and (max-width: 1300px) {
    #event-card {
        width: 450px;
    }
    
}

@media screen and (max-width: 992px) {
    #beer-all-content {
        width: 90%
    }

   
    #event-card {
        /* width: 450px; */
    }
    
}

@media screen and (max-width: 600px) {
    #brew-main-header h3{
        font-size: 2rem;
    }

    #brewery-card-container h4 {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 400px) {

    #event-card-container {
        height: auto;
    }

    #event-card {
        width: 100%;
    }

}