

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 600px;
  width: 600px;
  box-shadow: 7px 7px 7px rgb(41, 41, 41);
  border: 2px solid rgba(128, 128, 128, 0.7)
}

#header {
  color: white;
  text-align: center  ;
}

.collection h4 {
  color: white;
  border-bottom: 1px solid white;
  margin-bottom: 0;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

#opacity {
  color: #ffffff;
  background-color: rgba(90, 90, 90, 0.6);
}

#opacity:hover {
  background-color: rgba(90,90,90,0.3);
  transition: all 0.4s ease-in-out;
}