* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



body {
    background-image: url(../images/bg3.jpg);
    background-size: cover;
    background-position:top
}

#banner {
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin-top: 10vh;
    min-height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    h1 {
        margin:2rem;
        text-shadow: 7px 7px 7px rgb(27, 27, 27);
        
    }
}

.memeContainer {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container input {
    color: white;
}

#age-verify-container, #searchbar-container {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#age-verify {
    width: 500px;
    min-height: 70px;
    margin-top: 20%;
    font-size: 2rem;
    border-radius: 20px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    text-transform: none;
}

#searchbar {
    width: 500px;
    margin-top: 10rem;
    font-size: 2rem;
    visibility: hidden;
}

#searchbtn {
    margin:20px;
    visibility: hidden;
    justify-content: center;
}

.modal {
    width: 600px;
    background-color: #eeeeee ;

    h4 {
        text-align: center;
    }

    h6 {
        text-align: center;
        font-weight: 500;
    }

    .modal-footer {
        background-color: #e0e0e0 ;
    }
}

.page-footer {
    background-color: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.5) ;
}

.footer-copyright {
    background-color: rgba(54, 54, 54, 0.5);
}


#manatee-joke {
    position: absolute;
    right: 0;
    bottom: 5rem;
    overflow: visible;
    background-color: rgba(102, 102, 102, 0.7);

}

#manatee-joke-punchline {
    visibility: hidden;
    position: absolute;
    right: 0;
    bottom: 1rem;
    background-color: rgba(180, 180, 180, 0.8);
}


@media  screen and (min-width:1921px) {
    #searchbar {
        margin-top: 15rem;
    }
    
}